.main{
    margin: 55px 16px 0 28px;
    max-width: 1660px;
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .color {
    background-color: rgba(153, 169, 173, 0.13);
  }

.texto{
    color: white;
}
  