<div class="btn-back">
  <span class="material-symbols-outlined" (click)="back()"> cancel </span>
</div>

<div class="main-details">
  <div class="card-container">
    <div class="container-title">
      <p>Universidad de Cartagena</p>
    </div>
    <div class="container-img">
      <img
        src="../../../assets/img/Universidad Cartagena.jpg"
        alt
        class="img"
      />
    </div>
  </div>

  <div class="card-description">
    <span class="text-description"
      >La Universidad de Cartagena, también conocida como Unicartagena o por su
      sigla UdeC, es una universidad pública colombiana localizada en Cartagena
      de Indias, sujeta a inspección y vigilancia por medio de la Ley 1740 de
      2014 y la ley 30 de 1992 del Ministerio de Educación de Colombia.
    </span>
    <span>Ciudad:</span>Cartagena
  </div>
</div>

<div class="container-comments main-details">
  <div class="card-comment">
    <mat-form-field class="example-full-width">
      <mat-label>Escriba un comentario...</mat-label>
      <textarea
        matInput
        [(ngModel)]="comentarioTemporal"
        #message
        maxlength="100"
      ></textarea>
      <mat-hint align="end" class="number-textarea"
        >{{ message.value.length }} / 100</mat-hint
      >
    </mat-form-field>

    <mat-card-actions class="btn-comment">
      <button mat-button class="btn-text-comment" (click)="agregarComentario()">
        <span class="texto">COMENTAR</span>
      </button>
    </mat-card-actions>

    <div class="comments">
      <h1 class="title">Comentarios</h1>
      <div class="card-comentarios">
        <div *ngFor="let comentario of listaComentarios">
          <mat-card class="comments">
            <mat-card-header>
              <mat-card-title>{{ comentario.numero }}</mat-card-title>
              <mat-card-subtitle>{{ comentario.comentario }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button>LIKE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
