.example-spacer {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 900;
  color: #ffffffd5;
  margin-left: -66px;
}

.color {
  background-color: #576b70;
  letter-spacing: 0.0625em;
  gap: 32px;
  height: 3em;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: -50px;
}

.titulo {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.icon-logo {
  font-size: 45px;
}

.material-symbols-outlined{
    cursor: pointer;
}

.container-user-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 25px;
  padding-right: 20px;
}

.icon-user {
  font-size: 35px;
}

.name {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
}

