<mat-toolbar class="color">
  <button mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
   
  </button>
  <div class="logo">
    <span class="material-symbols-outlined icon-logo"> school </span>
    <span class="titulo">UniversityStars</span>
  </div>
  <span class="example-spacer">
    PROYECTO MONGODB
  </span>
  <div class="container-user-name">
    <span class="material-symbols-outlined icon-user" (click)="cerrarSesion()">
      account_circle
    </span>
    <div class="name">Usuario</div>
  </div>
</mat-toolbar>

